In [35]:
import pandas as pd

In [60]:
cases = pd.read_csv("../covid-cases2.csv", encoding = "ISO-8859-1")

In [61]:
cases

,Unnamed: 0,Address,Name,City,Time,Coordinates lat,longg
0,1,S. Daukanto g. 23,Restoranas,Kaunas,3/7/2020 18:00,NaN,NaN
1,2,Kernaves g. 84,Compensa koncertu sale,Vilnius,3/8/2020 18:00,NaN,NaN
2,3,V. Grybo g. 21,Šilo Maxima,Vilnius,3/9/2020 17:45,NaN,NaN
3,4,Saltoniškių g. 9,PC Panorama,Vilnius,3/11/2020 18:00,NaN,NaN
4,5,Vytauto pr. 24,Kauno stotis,Kaunas,3/10/2020 16:00,NaN,NaN
...,...,...,...,...,...,...,...
85,86,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/13/2020,55.078905,22.774841
86,87,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/12/2020,55.078905,22.774841
87,88,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/11/2020,55.078905,22.774841
88,89,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/10/2020,55.078905,22.774841
89,90,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/9/2020,55.078905,22.774841

In [62]:
!pip install geopy

Looking in indexes: https://pypi.org/simple, https://pkgs.dev.azure.com/UnifySquare/bf1f8b86-3ef4-4e75-a4c6-7ada8bfefedb/_packaging/MLCommon/pypi/simple/
Requirement already satisfied: geopy in c:\users\modestasj\appdata\local\programs\python\python36\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\modestasj\appdata\local\programs\python\python36\lib\site-packages (from geopy) (1.50)

WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [63]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

c:\users\modestasj\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [64]:
geolocator.geocode("Lietuva belgu g. 5 klaipeda")

In [65]:
geolocator.geocode(f"Lietuva belgu g. 5 klaipeda")

In [66]:
import numpy as np

COUNTRY = 'Lietuva'
RETRIES = 3

def get_latitude(case):
    
    for i in range(RETRIES):
        try:
            return geolocator.geocode(f"{COUNTRY},{case.City},{case.Address}").latitude
        except:
            print(f"Failed: {case.Address}")
        
    return np.nan

def get_longitude(case):
    
    for i in range(RETRIES):
        try:
            return geolocator.geocode(f"{COUNTRY},{case.City},{case.Address}").longitude
        except:
            print(f"Failed: {case.Address}")
        
    return np.nan

cases['Latitude'] = cases.apply(lambda x: get_latitude(x), axis=1)
cases['Longitude'] = cases.apply(lambda x: get_longitude(x), axis = 1)

Failed: Senasis Ukmergės kl. 8
Failed: Senasis Ukmergės kl. 8
Failed: Senasis Ukmergės kl. 8
Failed: Venecijos akl. 2
Failed: Venecijos akl. 2
Failed: Venecijos akl. 2
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Oro uosto g. 4
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Ukmergės g. 238
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Luokės g. 74a
Failed: Luokės g. 76
Failed: Butkų Juzės g. 9
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Liepojos pl. 1
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Geležinkelio g. 16
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Krykalnis 60375
Failed: Krykalnis 60375
Failed: Krykalnis 60375
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: S. Daukanto g. 23
Failed: Saltoniškių g. 9
Failed: Senasis Ukmergės kl. 8
Failed: Senasis Ukmergės kl. 8
Failed: Senasis Ukmergės kl. 8
Failed: Ukmergės g. 282
Failed: Venecijos akl. 2
Failed: Venecijos akl. 2
Failed: Venecijos akl. 2
Failed: Paupio g. 1a
Failed: Oro uosto g. 4
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: S. Daukanto g. 1
Failed: Luokės g. 76
Failed: Vytauto pr. 24
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Veiverių g. 27
Failed: Oro uosto g. 4
Failed: Veiverių g. 112
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Polocko 44
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Stoties g. 1
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Oro uosto g. 5
Failed: Oro uosto g. 7
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Rodūnios kl. 10A
Failed: Krykalnis 60375
Failed: Krykalnis 60375
Failed: Krykalnis 60375
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112
Failed: Dariaus ir Girėno g.112

In [69]:
cases['Latitude'] = cases.apply(lambda x: x['Coordinates lat'] if np.isnan(x['Latitude']) else x['Latitude'], axis=1)
cases['Longitude'] = cases.apply(lambda x: x['longg'] if np.isnan(x['Longitude']) else x['Longitude'], axis=1)

In [70]:
cases

,Unnamed: 0,Address,Name,City,Time,Coordinates lat,longg,Latitude,Longitude
0,1,S. Daukanto g. 23,Restoranas,Kaunas,3/7/2020 18:00,NaN,NaN,54.898015,23.913413
1,2,Kernaves g. 84,Compensa koncertu sale,Vilnius,3/8/2020 18:00,NaN,NaN,54.711581,25.276635
2,3,V. Grybo g. 21,Šilo Maxima,Vilnius,3/9/2020 17:45,NaN,NaN,54.703839,25.316260
3,4,Saltoniškių g. 9,PC Panorama,Vilnius,3/11/2020 18:00,NaN,NaN,54.699358,25.258363
4,5,Vytauto pr. 24,Kauno stotis,Kaunas,3/10/2020 16:00,NaN,NaN,54.889049,23.927838
...,...,...,...,...,...,...,...,...,...
85,86,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/13/2020,55.078905,22.774841,55.078905,22.774841
86,87,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/12/2020,55.078905,22.774841,55.078905,22.774841
87,88,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/11/2020,55.078905,22.774841,55.078905,22.774841
88,89,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/10/2020,55.078905,22.774841,55.078905,22.774841
89,90,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/9/2020,55.078905,22.774841,55.078905,22.774841

In [71]:
import pytz
from datetime import timedelta, datetime

local = pytz.timezone ("EET")

local_dt = local.localize(datetime.today() + timedelta(hours=2), is_dst=None)
utc_dt = local_dt.astimezone(pytz.utc)

print(local_dt)
utc_dt

2020-03-24 00:38:05.576658+02:00

datetime.datetime(2020, 3, 23, 22, 38, 5, 576658, tzinfo=<UTC>)

In [72]:
from datetime import datetime

t1 = datetime.timestamp(datetime.now())

datetime.fromtimestamp(t1)

cases["timestamp"] = pd.to_datetime(cases["Time"])
cases["timestamp"] = cases["timestamp"].apply(lambda x: local.localize(x, is_dst=None).astimezone(pytz.utc))

cases["timestamp"] = cases["timestamp"].apply(lambda x: datetime.timestamp(x))
#cases["timestamp"] = 
cases

,Unnamed: 0,Address,Name,City,Time,Coordinates lat,longg,Latitude,Longitude,timestamp
0,1,S. Daukanto g. 23,Restoranas,Kaunas,3/7/2020 18:00,NaN,NaN,54.898015,23.913413,1.583597e+09
1,2,Kernaves g. 84,Compensa koncertu sale,Vilnius,3/8/2020 18:00,NaN,NaN,54.711581,25.276635,1.583683e+09
2,3,V. Grybo g. 21,Šilo Maxima,Vilnius,3/9/2020 17:45,NaN,NaN,54.703839,25.316260,1.583769e+09
3,4,Saltoniškių g. 9,PC Panorama,Vilnius,3/11/2020 18:00,NaN,NaN,54.699358,25.258363,1.583942e+09
4,5,Vytauto pr. 24,Kauno stotis,Kaunas,3/10/2020 16:00,NaN,NaN,54.889049,23.927838,1.583849e+09
...,...,...,...,...,...,...,...,...,...,...
85,86,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/13/2020,55.078905,22.774841,55.078905,22.774841,1.584050e+09
86,87,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/12/2020,55.078905,22.774841,55.078905,22.774841,1.583964e+09
87,88,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/11/2020,55.078905,22.774841,55.078905,22.774841,1.583878e+09
88,89,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/10/2020,55.078905,22.774841,55.078905,22.774841,1.583791e+09
89,90,Dariaus ir Girėno g.112,Norfa XL,Jurbarkas,3/9/2020,55.078905,22.774841,55.078905,22.774841,1.583705e+09

In [78]:
cases = cases.rename({"Unnamed: 0": "id"}, axis=1)

In [79]:
cases = cases[["id","Address","Name","City","Time","Latitude","Longitude","timestamp"]]

In [80]:
cases.to_csv("../covid-cases-coordinates.csv", index=False)

In [81]:
cases.rename(columns={
    "No":"id",
    "Address":"address",
    "Name":"name",
    "City":"city",
    "Time":"time",
    "Latitude":"latitude",
    "Longitude":"longitude"
}).to_json("../covid-cases-coordinates.json", orient="records")