In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data_path_1 = 'Data/2020_MARCH.json'
data_path_2 = 'Data/2020_FEBRUARY.json'

In [5]:
def location_history_processing_pipeline(raw_json_file_locations):
    raw_json = concat_src_files(raw_json_file_locations)
    places_df, location_df = extract_location_information_from_raw(raw_json)
    return location_df

In [6]:
def concat_src_files(raw_json_file_locations):
    all_data = []
    for file in raw_json_file_locations:
        print(file)
        json_data = json.load(open(file, 'rb'))
        all_data += json_data['timelineObjects']
    return {'timelineObjects': all_data}

In [7]:
def extract_location_information_from_raw(raw_json):
    places_data = []
    location_data = []

    for json_dict in raw_json['timelineObjects']:
        if "placeVisit" in json_dict:
            places_data.append(json_dict['placeVisit'])
            location_dict = json_dict['placeVisit']['location']
            location_dict['visit_start_time'] = json_dict['placeVisit']['duration']['startTimestampMs']
            location_dict['visit_end_time'] = json_dict['placeVisit']['duration']['endTimestampMs']
            location_data.append(location_dict)
    return pd.DataFrame(places_data), pd.DataFrame(location_data)

In [8]:
df1 = location_history_processing_pipeline([data_path_1, data_path_2])

Data/2020_MARCH.json
Data/2020_FEBRUARY.json

In [9]:
df1

,latitudeE7,longitudeE7,placeId,address,name,sourceInfo,locationConfidence,visit_start_time,visit_end_time,semanticType
0,547020301,252894199,ChIJv8Qx96iW3UYR8uQowtBII2s,Tuskulėnų g. 66\nVilnius 09208\nLietuva,Maxima XX,{'deviceTag': -1460497777},99.49381,1583069925781,1583072170250,NaN
1,547022084,252841645,ChIJa_EGkKmW3UYRhE0AXwxbZ68,Trimitų g. 3\nVilnius 09318\nLietuva,Trimitų g. 3,{'deviceTag': -1460497777},65.31114,1583072571248,1583084144659,TYPE_SEARCHED_ADDRESS
2,547020301,252894199,ChIJv8Qx96iW3UYR8uQowtBII2s,Tuskulėnų g. 66\nVilnius 09208\nLietuva,Maxima XX,{'deviceTag': -1460497777},97.42366,1583084327524,1583084852708,NaN
3,547022084,252841645,ChIJa_EGkKmW3UYRhE0AXwxbZ68,Trimitų g. 3\nVilnius 09318\nLietuva,Trimitų g. 3,{'deviceTag': -1460497777},66.15688,1583085140052,1583133628107,TYPE_SEARCHED_ADDRESS
4,546849651,252812342,ChIJj4V6ChGU3UYRtj8nUsFTK6Q,Labdarių g. 5\nVilnius 01120\nLietuva,Labdarių g. 5,{'deviceTag': -1460497777},92.86199,1583135036319,1583143231520,NaN
...,...,...,...,...,...,...,...,...,...,...
180,547022084,252841645,ChIJa_EGkKmW3UYRhE0AXwxbZ68,Trimitų g. 3\nVilnius 09318\nLietuva,Trimitų g. 3,{'deviceTag': -1460497777},56.08359,1582913210364,1582983844395,TYPE_SEARCHED_ADDRESS
181,546883542,252732445,ChIJ_6hwBQ-U3UYRcfhfR20teh0,Gedimino pr. 31\nVilnius 01104\nLietuva,DRAMA BURGER,{'deviceTag': -1460497777},85.30062,1582985150817,1582987284398,NaN
182,546910952,252637137,ChIJC3tstQmU3UYRRD_9JDG1jlw,Gedimino pr. 51\nVilnius 01109\nLietuva,Martynas Mažvydas National Library of Lithuania,{'deviceTag': -1460497777},99.29467,1582987680111,1582990385750,NaN
183,546938630,252761760,ChIJuVPQWQeU3UYRXAwMHdJz_l8,Upės g. 9\nVilnius 09308\nLietuva,Prekybos centras CUP,{'deviceTag': -1460497777},75.42997,1582991119745,1582991825991,NaN
184,547022084,252841645,ChIJa_EGkKmW3UYRhE0AXwxbZ68,Trimitų g. 3\nVilnius 09318\nLietuva,Trimitų g. 3,{'deviceTag': -1460497777},64.55895,1582992901138,1583069728570,TYPE_SEARCHED_ADDRESS